<%= form_for @post do |f|%>
    <h6><%=f.label :image%></h6>
    <%=f.file_field :image, :class => "form-control text-center"%>
    <br>
    <h6><%=f.label :caption%></h6>
    <%=f.text_field :caption , :class => "form-control text-center"%>
    <br>
    <%=f.submit :class => "btn-primary"%>
<%end%>